openapi: 3.2.0
info:
  title: Wyzant Partner Data Data Feed API
  description: Partner/affiliate data interface for the Wyzant tutoring marketplace, served from data.wyzant.com.
  version: '1.0'
  contact:
    name: Wyzant Partner Support
    url: https://support.wyzant.com/hc/en-us/articles/115005857526-API-Data-Feed-Documentation
  x-endpointsModeled: true
servers:
- url: https://data.wyzant.com
  description: Wyzant partner data host
tags:
- name: Data Feed
  description: Bulk snapshot download of all active tutors.
paths:
  /feeds/downloadFeed:
    get:
      operationId: downloadTutorFeed
      tags:
      - Data Feed
      summary: Download a full snapshot of active tutors
      description: Downloads a complete snapshot of all active tutors listed on Wyzant at the time of the request, in XML or JSON. Because the file is large, Wyzant asks partners to call this at most once per day and to refresh a local copy at least weekly.
      parameters:
      - name: apiKey
        in: query
        required: true
        description: Wyzant-issued partner API key.
        schema:
          type: string
      - name: feedFormat
        in: query
        required: true
        description: Feed format.
        schema:
          type: string
          enum:
          - XML
          - JSON
      - name: maxResults
        in: query
        required: false
        description: Optional cap on the number of tutors returned, useful for testing.
        schema:
          type: integer
      responses:
        '200':
          description: The full active-tutor snapshot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Tutors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tutor'
        '401':
          description: Missing or invalid partner API key.
components:
  schemas:
    Tutor:
      type: object
      description: A tutor record as returned by the Search API and Data Feed. Modeled from Wyzant's documented field list; some fields are only returned to partners with restricted-access approval.
      properties:
        TutorID:
          type: string
          description: Unique identifier for the tutor.
        Name:
          type: string
          description: Tutor display name.
        City:
          type: string
        State:
          type: string
        ZIP:
          type: string
        FeePerHour:
          type: number
          description: Tutor's hourly rate in USD (before Wyzant service fee).
        TravelDistance:
          type: integer
          description: Distance the tutor is willing to travel, in miles.
        ProfileLink:
          type: string
          format: uri
          description: Tracked link to the tutor's Wyzant profile.
        Subjects:
          type: array
          items:
            type: string
          description: Subjects the tutor teaches.
        StarRatingAverage:
          type: number
          description: Average star rating across the tutor's reviews.
